# MOVIE QUIZ: How well do you know your movies? <br>
![](https://drive.google.com/uc?export=view&id=1_vgwWJi9pLUPofW7n9EUUqora57gljJr)<br>
<br>
**READ THE INSTRUCTIONS CAREFULLY BEFORE STARTING THE EXERCISE**<br>
In this notebook, we are going to work with Movies dataset which has data corresponding to movies released since 1911 till 2020. It has three different files:
- cast_mini.csv (Data regarding cast of movies)
- release_dates.csv (Data regarding release dates of movies in different locations)
- titles.csv (Data regarding the titles of the movies) <br>

In this exercise, we are going to work with all 3 files.

In [ ]:
import pandas as pd
import numpy as np

## 1. Loading Files with Pandas

Load the cast_mini.csv and titles.csv files into dataframes using the `pd.read_csv` method.<br>( If you have trouble accessing the data, download the dataset from this [link](https://drive.google.com/file/d/1W4i-ELHcRsL5nBn0ZzdoMMpLEhYUgX9Z/view?usp=sharing).)

In [ ]:
#Load the 2 files titles.csv and cast_mini.csv 
#Your code here
base_url = 'https://raw.githubusercontent.com/univai-ghf/PandasWorkshop/main/data/'
___ = pd.read_csv(base_url+'cast_min.csv') #Code for loading the cast_min.csv file
___ = pd.read_csv(base_url+'titles.csv') #Code for loading the titles.csv

### Take a quick look of the dataframe.

- We can quickly see the top contents of a dataframe by using `df.head()`.
- By default, this will show the first 5 entries, but `head()` takes an argument to specify if you want more or less.
- A similar method is `.tail()` which shows the bottom entries. <br>

Do this for both the datasets.

In [ ]:
# Your code here

## 2. Accessing the Row and Column Labels

- The row labels (index) can be accessed through `df.index`.
- The column labels can be accessed through `df.columns`.<br>

Try it out!

In [ ]:
#Your code here

### Data Types and shape
- Each column will have an inferred data type which you can access using the `dtypes` attribute.
- You can also see the shape of the dataframe using the `shape` attribute. See the shape of the `titles` dataframe. Shape will tell you the number of rows and columns in the dataframe.
<br>

Print out the data types in the `cast` dataframe

In [ ]:
# .shape gives the total number of rows and columns
# .len gives the total number of rows
#Your code here

### Null values

Check the `cast` dataframe for null values using the `isnull()` method or the `info` method. Find out which column has null values and how many.

In [ ]:
#Print out the column which has null values and the also print the number of null values in the column
#Your code here

We have 1 column which has a lot of null values. Drop that column using the `drop` method.

In [ ]:
#Your code here

### Summary statistics
- To quickly obtain summary statistics on numerical values use the `describe` method.
- You will get a warning if there are missing values.

In [ ]:
#Your code here

## 3. Indexing/Slicing Rows of DataFrames
- Simple ways of selecting all rows and columns (`df[:]`)
- Rows can be accessed via a key or a integer corresponding to the row number. 
- Omitting a value generally means *all values* before or after an item.
- When we retrieve a single or mulitiple rows, the result is a Dataframe.
- Several ways, either directly, with `iloc`, or with `loc`. (See Examples).
- Read more [here](http://pandas.pydata.org/pandas-docs/stable/indexing.html)

### Selecting Rows
- Similarly, we also might want to select out rows, and we can utilize the same syntax.
- [iloc](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.iloc.html)<br>

Try to select every alternate row in the cast dataframe and print it out.

In [ ]:
#Your code here

### Selecting a particular column
- We can filter a particular row by indexing it by name as `df['column_name']
- If the column name is in lower case without spaces, we can call it as `df.column_name`<br>

Select `title` column from the cast dataframe

In [ ]:
#Your code here

### Intro to Filters (Logical indexing)
- Filters are the selection of rows based on criteria.
- We can select based on specific criteria.
- These criteria can be connected together.
- Most of the time we won't specfically assign selection critia to a list. <br>

Try to create a filter for getting all the films released after 2000 from the titles dataframe.

In [ ]:
# At the foundation of the filter is a boolean array based on some type of condition.

### Pandas indexing
- We can drop the default numerical index by casting one of the columns as an index using `set_index()`.
- We can then use `sort_index()` method which allows quick lookups of data.<br>

Try to set `title` column as the index of the cast dataframe and then try to access the film 'The Karate Kid'. (If you want to know the advantage of using index to search, try to time this method and filter using comparison of the `title` column. You can use `%%time` to find the runtime of a Jupyter cell)

In [ ]:
%%time
#Try to use comparison operator to find the Karate Kid row
#Your code here

In [ ]:
# Setting the index to movie titles and sorting it

In [ ]:
%%time
# Comparing its speed to the operation above

## 4. QUIZ TIME
Now based on the the above datasets try to find the answers for the following datasets.<br>
Use the titles dataframe to answer the questions below.

1. How many movies are listed in the titles dataframe?

In [ ]:
#Your code here

2. What is the second oldest film (by year of release) listed in the titles dataframe?

In [ ]:
#Your code here

3. How many movies were made from 1992 through 2012 as per titles dataframe?

In [ ]:
#Your code here

4. The number of movies in the decade of 2000 as per titles dataframe is?

In [ ]:
#Your code here

Next, using the cast dataframe , answer the following questions:

5. How many different people have played a role called **Extra**? (Use the character column in the cast dataframe)

In [ ]:
#Your code here

6. How many roles were available for male actors in the decade of 2000s?

In [ ]:
#Your code here

7. How many roles were available for female actors in the decade of 2000s?

In [ ]:
#Your code here

Optional question: In the titles dataframe, how many movies have the word 'Don' in them? (It's a filter based on a simple string method called `contains`. Try to read about it from the Pandas documentation)

In [ ]:
#Your code here

## 5. Merging Dataframes
- Often you need to combine dataframes with similar information
- We can use the `.merge()` method to do this.
- Try to combine information from `cast.csv` and `release_dates.csv`.<br>

First load the `release_dates.csv`.

In [ ]:
#Load the release_dates.csv
#Your code here
___ = pd.read_csv(base_url+'release_dates.csv') #Code for loading the release_dates.csv file

Merge the release date dataframe with the cast dataframe

In [ ]:
# The merged dataframe gives us the release dates for each of the movies

Check the datatype of each column of the merged dataframe using the `dtypes` attribute

In [ ]:
#Your code here

Make the `date` column from the merged dataframe as a datetime column using pd.to_datetime() method on the the column. Once the column is in datetime format, you can do many datetime related analysis with it.

In [ ]:
#Your code here

Now, select all the movies by actor 'Leonardo DiCaprio'

In [ ]:
# Select all roles in movies by Leonardo DiCaprio

Now, we will try to plot the movies released by Leonardo DiCaprio along with the month they have released in. This is a little complicated since we need to get the month from the date column and then get the value counts. Hence, we are giving you the template code for it. Take a look and try to implement it for yourself.<br>
```python
import matplotlib.pyplot as plt
fig,ax = plt.subplots(figsize=(10,5))
merged_dataframe.date.dt.month.value_counts().sort_index().plot(kind='bar',ax=ax,color = '#B9D6D9',label='Month')
ax.set_xticklabels(['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'],rotation=0)
ax.legend(fontsize=12)
ax.spines['right'].set_visible(False)
ax.spines['top'].set_visible(False)
ax.patch.set_facecolor('None')
ax.set_ylabel('Count',fontsize=14,rotation=0,labelpad=20);
```

Just replace the `merged_dataframe` variable with your variable name.<br> From the plot, try to answer in which month has the most Leonardo DiCaprio films released.

In [ ]:
#Your code here

In [ ]:
#Your code here