## Exercise 1: Know your Company Part 1
Since you guys are interested in a DataScience career, pretty soon you will be looking at companies and applying for jobs. So with that in mind lets make a small dataframe regarding some of the biggest companies in the world. <br>

To start, we need to import the `pandas` library first. Do it in the same way as shown in the lecture.

In [1]:
#Your code here

First make a Pandas Series from the dictionary of companies and the respective Chief Executive Officers (CEO)<br>
Display the series

In [2]:
ceo_dict = {'Alphabet':'Sundar Pichai','Amazon':'Jeff Bezos','Adobe':'Shantanu Narayen','Alibaba':'Daniel Zhang',
            'Flipkart':'Kalyan Krishnamurthy','IBM':'Arvind Krishna','Meta':'Mark Zuckerberg','Microsoft':'Satya Nadella',
            'Oyo':'Ritesh Agarwal','Paytm':'Vijay Shekhar Sharma','TCS':'Rajesh Gopinath','Tesla':'Elon Musk','Twitter':'Parag Agrawal'}
#Create a Pandas Series from the above dictionary and assign it to a variable
#Display the Series
#Your code here

Find the CEO of Flipkart from the above Series and print the result.

In [3]:
#Access the CEO of Flipkart from the Series and print the result
#Your code here

Print out all the CEO of companies starting from Flipkart and ending with Paytm.

In [4]:
#Display all the CEO of companies starting from Flipkart to Paytm (Hint: Remember the slicing selection shown in the lecture)
#Your code here

Next, make a Pandas Series from the dictionary of companies and the country it is based in.<br>
Display the Series.

In [5]:
country_dict = {'Alphabet':'US','Amazon':'US','Adobe':'US','Alibaba':'China',
                'Flipkart':'India','IBM':'US','Meta':'US','Microsoft':'US',
                'Oyo':'India','Paytm':'India','TCS':'India','Tesla':'US','Twitter':'US'}
#Make the Series from the above dictionary
#Your code here

Now, create a DataFrame from the two Series you have created.<br>
Display the DataFrame.

In [6]:
#Create and display a DataFrame based on the 2 Series that you have made above
#Your code here

Print out the index of the above DataFrame

In [7]:
#Your code here

Print out the columns in the DataFrame

In [8]:
#Your code here

Access the CEO column in the DataFrame

In [9]:
#Your code here

Try to access the Flipkart row in the dataframe like you accessed in the Series.

In [10]:
#Try to access the 'Flipkart' row in the dataframe in a similar way to how it was done in Series
#Your code here

You must have got an error if you had directly tried to access the row using index 'Flipkart'. For accessing rows in DataFrames, we need special attributes which we are going to take a look at next.