In [1]:
#Library imports
import pandas as pd
import numpy as np

## Exercise 1: Know your company Part 2
We will continue working with the dataset you have created in Part 1. First lets create the dataset again

In [ ]:
#Create the dataset in the same way as above
#Your code here
ceo_dict = {'Alphabet':'Sundar Pichai','Amazon':'Jeff Bezos','Adobe':'Shantanu Narayen','Alibaba':'Daniel Zhang',
            'Flipkart':'Kalyan Krishnamurthy','IBM':'Arvind Krishna','Meta':'Mark Zuckerberg','Microsoft':'Satya Nadella',
            'Oyo':'Ritesh Agarwal','Paytm':'Vijay Shekhar Sharma','TCS':'Rajesh Gopinath','Tesla':'Elon Musk','Twitter':'Parag Agrawal'}
___ = pd.Series(___)
country_dict = {'Alphabet':'US','Amazon':'US','Adobe':'US','Alibaba':'China',
                'Flipkart':'India','IBM':'US','Meta':'US','Microsoft':'US',
                'Oyo':'India','Paytm':'India','TCS':'India','Tesla':'US','Twitter':'US'}
___ = pd.Series(___)
___ = pd.DataFrame({'CEO':___, 'Country':___})

Now try to access the 'Flipkart' row as shown in the lecture.

In [3]:
#Your code here

Next, try to access the 10th integral index in the DataFrame and also try to access all integral index greater than 10

In [4]:
#You need to access the 10th integral index from the DataFrame as well as
#all the integral index greater than 10
#Your code here

Now, print out all the values stored in the DataFrame with the values attribute and then access the 10th index in the list of values.

In [5]:
#Print out the values in the DataFrame with the values attribute
#Your code here

In [6]:
#Access the 10th value 
#Your code here

Lets now try to use a mask to select a sub-dataframe which only has the companies which are located in India. ( Hint: Try to use a comparison operator in the Country column)

In [7]:
#Create a mask to make a sub-dataframe with all the companies located in country India
#Your code here

Next, let us try to select the companies in India based on index by creating multi-index.<br>
First, reset index to have the company as a column.

In [8]:
#Your code here

Next, rename the new index column to 'Company'. Use the `rename` attribute and pass the 'column' argument as a dictionary from the old name to new name.

In [9]:
#Your code here

Now, use the `set_index` attribute to make the `Country` and `Company` columns as index.

In [10]:
#Your code here

In this new DataFrame, use the `loc` keyword to choose all companies based in India.

In [11]:
#Your code here

Finally, lets try a little advanced indexing. Try to access the row 'Tesla' and print out the result. (PS. You may know him very well!! )

In [12]:
#Your code here