## Exercise 2 Part 1: Know Your Cricketer 
Cricket!! We Indians bleed blue, don't we? So lets do some analysis on a cricket data. Specifically lets look at the data of some great Indian batsmen. We will see there statistics for IPL and ODI matches of these 
batsmen and calculate some common metrics to compare them.<br>
<br>
First let's import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

Next, create the DataFrame from the list of dictionaries given below.<br>
Column Info:<br>
Name: Name of Cricketer<br>
ODI Inn: Total Innings in ODI matches<br>
ODI NO: Innings **Not Out** in ODI matches<br>
ODI Runs: Runs in ODI matches<br>
IPL Inn: Total Innings in IPL matches<br>
IPL NO: Innings **Not Out** in IPL matches<br>
IPL Runs: Total Runs in IPL matches<br>

In [ ]:
batsmen = [{'Name':'Sachin Tendulkar','ODI Inn':452,'ODI NO':41,'ODI Runs':18426,'IPL Inn':78,'IPL NO':9,'IPL Runs':2334},
           {'Name':'Sourav Ganguly','ODI Inn':300,'ODI NO':21,'ODI Runs':11363,'IPL Inn':56,'IPL NO':3,'IPL Runs':1349},
           {'Name':'Virat Kohli','ODI Inn':248,'ODI NO':39,'ODI Runs':12285,'IPL Inn':199,'IPL NO':31,'IPL Runs':6283},
           {'Name':'Kapil Dev','ODI Inn':198,'ODI NO':39,'ODI Runs':3783,'IPL Inn':None,'IPL NO':None,'IPL Runs':None},
           {'Name':'Yuvraj Singh','ODI Inn':278,'ODI NO':40,'ODI Runs':8701,'IPL Inn':126,'IPL NO':15,'IPL Runs':2750},
           {'Name':'MS Dhoni','ODI Inn':297,'ODI NO':84,'ODI Runs':10773,'IPL Inn':193,'IPL NO':73,'IPL Runs':4746},
           {'Name':'Rohit Sharma','ODI Inn':220,'ODI NO':32,'ODI Runs':9205,'IPL Inn':208,'IPL NO':28,'IPL Runs':4303}]
#Your code here

Now, run the `info` and `describe` function on the dataset to check whether there are some null values or not and to see some basic statistics.

In [ ]:
#Your code here

We see that there is a null value in the dataset. It is there because Kapil Dev doesn't have any data related to IPL tournaments. So we need to take care of that by either deleting the data or filling it with some values.<br>
Fill the `Nan` values in the dataset with value 0 because any player who hasn't played in IPL will have 0 innings and runs in the format.

In [ ]:
#Your code here

Next, we will calulate the batting average for these cricketers for IPL and ODI matches.<br> Batting average has the following formula:<br>
\begin{align}
Batting\ Average = \frac{Total\ Runs\ Scored}{No.\ of\ Innings\ Out}
\end{align}
where
\begin{align}
No.\ of\ Innings\ Out = Total\ Innings - Innings\ Not\ Out
\end{align}
<br>
Using the above formula calculate the Innings Out from the Total Innings and the Innings Not Out and assign it to new column in the dataframe. Do this for both ODI matches and IPL matches.

In [ ]:
#Your code here

Now, calculate the batting average for the cricketers using the formula for batting average and assign it to a new column. Do this for both IPL and ODI matches.

In [ ]:
#Your code here

Notice that we agin get a `Nan` value for Kapil Dev in the batting average column.<br>
Lets drop the row then so that we don't have any incorrect data. Drop the rows having any `Nan` values.

In [ ]:
#Your code here

Finally you have the batting averages of each player. Now find the player with the highest IPL average and print the result.

In [ ]:
#Your code here

Find the player with the highest ODI average and print the result too.

In [ ]:
#Your code here

## Do it yourself
If you have finished the above code, try to repeat the above steps for the combined runs across ODI and IPL in the cells below.

Create a column called Total Runs, which will be the sum of ODI Runs and IPL Runs.

In [ ]:
#Your code here

Find the total Innings Out from the new columns created by you.

In [ ]:
#Your code here

Finally, calculate the total batting average across IPL and ODI by dividing the Total Runs and Total Out Innings

In [ ]:
#Your code here

Find out who has the best total average from the column you created.

In [ ]:
#Your code here

Also try and sort values of the dataframe using the `sort_values` attribute of the dataframe. It needs a `'by'` argument which is the name of the column with which you want to sort.<br>
Sort the dataframe using the new total batting average column you have created. Who is the player who has the best total batting average?

In [ ]:
#Your code here