## Exercise 2 Part 2: Know your Country
In this exercise, we will take a look at some of the population statistics related to our wonderful country, India. The data for some of the states and UT's on our country is given below. Using that we will do some comparisons between the different states/UT's based on some parameters.

In [ ]:
import pandas as pd
import numpy as np

First, make a DataFrame from the below dictionary for the population data of the states. Display the DataFrame.

In [ ]:
state = [{'Name':'Maharashtra','Type':'State','Population':112374333, 'Urban':50818259, 'Rural':61556074},
       {'Name':'Uttar Pradesh','Type':'State','Population':199812341, 'Urban':44495063, 'Rural':155317278},
       {'Name':'Tamil Nadu','Type':'State','Population':72147030, 'Urban':34917440, 'Rural':37229590},
       {'Name':'Rajasthan','Type':'State','Population':68548437, 'Urban':17048085, 'Rural':51500352},
       {'Name':'West Bengal','Type':'State','Population':91276115, 'Urban':29093002, 'Rural':62183113},
       {'Name':'Karnataka','Type':'State','Population':61095297, 'Urban':30069335, 'Rural':31025962},
       {'Name':'Gujarat','Type':'State','Population':60439692, 'Urban':25745083, 'Rural':34694609},
       {'Name':'Madhya Pradesh','Type':'State','Population':72626809, 'Urban':20069405, 'Rural':52557404},
       {'Name':'Himachal Pradesh','Type':'State','Population':6864602, 'Urban':688552, 'Rural':6176050},
       {'Name':'Goa','Type':'State','Population':1458545, 'Urban':906814, 'Rural':551731}
       ]
#Your code here

Use the `describe` method to take a look at basic statistics of the dataset.

In [ ]:
#Your code here

Next, use the Urban and the Rural columns to calculate the percentage of Urban and Rural population in the states. Assign these values to new columns respectively.

In [ ]:
#Your code here

Now make a DataFrame for the UT's given below in the dictionary. Display the DataFrame.

In [ ]:
ut = [{'Name':'Delhi','Type':'UT','Population':16787941, 'Urban':16368899, 'Rural':419042},
      {'Name':'Puducherry','Type':'UT','Population':1247953, 'Urban':852753, 'Rural':395200},
      {'Name':'Chandigarh','Type':'UT','Population':1055450 , 'Urban':1026459, 'Rural':28991},
      {'Name':'Andaman and Nicobar Islands','Type':'UT','Population':380581, 'Urban':143488, 'Rural':237093},
      {'Name':'Lakshadweep','Type':'UT','Population':64473, 'Urban':50332, 'Rural':14141}]
#Your code here

Use the `describe` method on this dataset as well

In [ ]:
#Your code here

Calculate the Urban and Rural percentage for the UT dataframe as well. Assign these values to new columns. Remember to use the same name for the columns as you have used in the state dataframe.

In [ ]:
#Your code here

Now, let us take a look at both the state and UT data together. To do this, concatenate the UT dataframe to the State dataframe using `pd.concat`. Assign the new DataFrame to a variable and display the DataFrame.

In [ ]:
#Your code here

Notice how the concatenated DataFrame has repeating index. To overcome this issue, use the `ignore_index = True` argument and also the `verify_integrity=True` argument which will make sure that the new DataFrame has unique indexes. Display this DataFrame.

In [ ]:
#Your code here

Now, find the States/UT with the highest Urban Population Percentage and the highest Rural Population Percentage. Print your results.

In [ ]:
#Your code here

Now, make a new DataFrame from the Area data given below and display it.

In [ ]:
area = [{'State/UT':'Maharashtra','Area':307713},{'State/UT':'Uttar Pradesh','Area':240928},{'State/UT':'Tamil Nadu','Area':130051},
        {'State/UT':'Rajasthan','Area':342239},{'State/UT':'West Bengal','Area':88752},{'State/UT':'Karnataka','Area':191791},
        {'State/UT':'Gujarat','Area':196024},{'State/UT':'Madhya Pradesh','Area':308245},{'State/UT':'Himachal Pradesh','Area':55673},
        {'State/UT':'Goa','Area':3702},{'State/UT':'Delhi','Area':1484},{'State/UT':'Puducherry','Area':479},
        {'State/UT':'Chandigarh','Area':114},{'State/UT':'Andaman and Nicobar Islands','Area':8249},{'State/UT':'Lakshadweep','Area':32}]
#Your code here

Now, merge the Area dataframe with the population dataframe of the States and UT's. Display the merged dataset. (Hint: Notice that the column names for the name of State/UT's are different in the 2 datasets. Use the `left_on` and `right_on` argument to merge the dataset correctly)

In [ ]:
#Your code here

Notice that there are two columns pertaining to the name of the State/UT's in the merged dataframe. Drop one of these columns using the `drop` method with the `column` argument.

In [ ]:
#Your code here

Now, calculate the population density for each of the states and UT's using the Population and Area column.

In [ ]:
#Your code here

Sort the dataset using the new density column and find the State/UT with the highest/lowest population density. Print out your results.

In [ ]:
#Your code here

If you have finished the above steps, try to sort the DataFrame according to the Population column and find out the State/UT with the highest/lowest population.

In [ ]:
#Your code here

In this way, you can go through multiple datasets and find interesting statistics using Pandas. Try to do this on a dataset of your choice.