## Exercise 2 Know Your Cricketer Part 1
Cricket!! We Indians bleed blue, don't we? So lets do some analysis on a cricket data. Specifically lets look at the data of some great Indian batsmen. We will see there statistics for Test and ODI matches of these batsmen and calculate some common metrics to compare them.<br>
<br>
First let's import the necessary libraries

In [ ]:
import pandas as pd
import numpy as np

Next, create the DataFrame from the list of dictionaries given below.<br>
Column Info:<br>
Name: Name of Cricketer<br>
ODI Inn: Total Innings in ODI matches<br>
ODI NO: Innings **Not Out** in ODI matches<br>
ODI Runs: Runs in ODI matches<br>
Test Inn: Total Innings in Test matches<br>
Test NO: Innings **Not Out** in Test matches<br>
Test Runs: Total Runs in Test matches<br>

In [ ]:
batsmen = [{'Name':'Sachin Tendulkar','ODI Inn':452,'ODI NO':41,'ODI Runs':18426,'Test Inn':329,'Test NO':33, 'Test Runs':15921},
           {'Name':'Sourav Ganguly','ODI Inn':300,'ODI NO':21,'ODI Runs':11363,'Test Inn':188,'Test NO':17, 'Test Runs':7212},
           {'Name':'Virat Kohli','ODI Inn':248,'ODI NO':39,'ODI Runs':12285,'Test Inn':168,'Test NO':10, 'Test Runs':7962},
           {'Name':'Kapil Dev','ODI Inn':198,'ODI NO':39,'ODI Runs':3783,'Test Inn':184,'Test NO':15, 'Test Runs':5248},
           {'Name':'Yuvraj Singh','ODI Inn':278,'ODI NO':40,'ODI Runs':8701,'Test Inn':62,'Test NO':6, 'Test Runs':1900},
           {'Name':'MS Dhoni','ODI Inn':297,'ODI NO':84,'ODI Runs':10773,'Test Inn':144,'Test NO':16, 'Test Runs':4876},
           {'Name':'Rohit Sharma','ODI Inn':220,'ODI NO':32,'ODI Runs':9205,'Test Inn':74,'Test NO':9, 'Test Runs':3047}]
#Your code here

Now, run the `info` and `describe` function on the dataset to check whether there are some null values or not and to see some basic statistics.

In [ ]:
#Your code here

Next, we will calulate the batting average for these cricketers for Test and ODI matches.<br> Batting average has the following formula:<br>
\begin{align}
Batting\ Average = \frac{Total\ Runs\ Scored}{No.\ of\ Innings\ Out}
\end{align}
where
\begin{align}
No.\ of\ Innings\ Out = Total\ Innings - Innings\ Not\ Out
\end{align}
<br>
Using the above formula calculate the Innings Out from the Total Innings and the Innings Not Out and assign it to new column in the dataframe. Do this for both ODI matches and Test matches.

In [ ]:
#Your code here

Now, calculate the batting average for the cricketers using the formula for batting average and assign it to a new column. Do this for both Test and ODI matches.

In [ ]:
#Your code here

Finally you have the batting averages of each player. Now find the player with the highest Test average and the highest ODI average and print the result.

In [ ]:
#Your code here

Next we create a column called Total Runs, which will be the sum of ODI Runs and Test Runs.

In [ ]:
#Your code here

Also, find the total Innings Out from the new columns created by you.

In [ ]:
#Your code here

Finally, calculate the total batting average across Test and ODI by dividing the Total Runs and Total Out Innings

In [ ]:
#Your code here

Also try and sort values of the dataframe using the `sort_values` attribute of the dataframe. It needs a `'by'` argument which is the name of the column with which you want to sort.<br>
Sort the dataframe using the new total batting average column you have created. Who is the player who has the best total batting average?

In [ ]:
#Your code here