## Exercise 3: Know Your Country Part 2
Now, for our final exercise, we will use the above dataset along with a different dataset to calculate some more interesting metrics. Here you are given the dataset for the area (in sq. km) for the various States and UT's. We will use this dataset to calculate the density of the various states and UT's.

In [ ]:
import pandas as pd
import numpy as np

First create the original DataFrames for the States and UT's as you have done before.

In [ ]:
state = [{'Name':'Maharashtra','Type':'State','Population':112374333, 'Urban':50818259, 'Rural':61556074},
       {'Name':'Uttar Pradesh','Type':'State','Population':199812341, 'Urban':44495063, 'Rural':155317278},
       {'Name':'Tamil Nadu','Type':'State','Population':72147030, 'Urban':34917440, 'Rural':37229590},
       {'Name':'Rajasthan','Type':'State','Population':68548437, 'Urban':17048085, 'Rural':51500352},
       {'Name':'West Bengal','Type':'State','Population':91276115, 'Urban':29093002, 'Rural':62183113},
       {'Name':'Karnataka','Type':'State','Population':61095297, 'Urban':30069335, 'Rural':31025962},
       {'Name':'Gujarat','Type':'State','Population':60439692, 'Urban':25745083, 'Rural':34694609},
       {'Name':'Madhya Pradesh','Type':'State','Population':72626809, 'Urban':20069405, 'Rural':52557404},
       {'Name':'Himachal Pradesh','Type':'State','Population':6864602, 'Urban':688552, 'Rural':6176050},
       {'Name':'Goa','Type':'State','Population':1458545, 'Urban':906814, 'Rural':551731}
       ]
#Your code here

In [ ]:
ut = [{'Name':'Delhi','Type':'UT','Population':16787941, 'Urban':16368899, 'Rural':419042},
      {'Name':'Puducherry','Type':'UT','Population':1247953, 'Urban':852753, 'Rural':395200},
      {'Name':'Chandigarh','Type':'UT','Population':1055450 , 'Urban':1026459, 'Rural':28991},
      {'Name':'Andaman and Nicobar Islands','Type':'UT','Population':380581, 'Urban':143488, 'Rural':237093},
      {'Name':'Lakshadweep','Type':'UT','Population':64473, 'Urban':50332, 'Rural':14141}]
#Your code here

Concat the DataFrames to create a single dataframe as done earlier.

In [ ]:
#Your code here

Now, make a new DataFrame from the Area data given below and display it.

In [ ]:
area = [{'State/UT':'Maharashtra','Area':307713},{'State/UT':'Uttar Pradesh','Area':240928},{'State/UT':'Tamil Nadu','Area':130051},
        {'State/UT':'Rajasthan','Area':342239},{'State/UT':'West Bengal','Area':88752},{'State/UT':'Karnataka','Area':191791},
        {'State/UT':'Gujarat','Area':196024},{'State/UT':'Madhya Pradesh','Area':308245},{'State/UT':'Himachal Pradesh','Area':55673},
        {'State/UT':'Goa','Area':3702},{'State/UT':'Delhi','Area':1484},{'State/UT':'Puducherry','Area':479},
        {'State/UT':'Chandigarh','Area':114},{'State/UT':'Andaman and Nicobar Islands','Area':8249},{'State/UT':'Lakshadweep','Area':32}]
#Your code here

Now, merge the Area dataframe with the population dataframe of the States and UT's. Display the merged dataset. (Hint: Notice that the column names for the name of State/UT's are different in the 2 datasets. Use the `left_on` and `right_on` argument to merge the dataset correctly)

In [ ]:
#Your code here

Notice that there are two columns pertaining to the name of the State/UT's in the merged dataframe. Drop one of these columns using the `drop` method with the `column` argument.

In [ ]:
#Your code here

Now, calculate the population density for each of the states and UT's using the Population and Area column.

In [ ]:
#Your code here

Sort the dataset using the new density column and find the State/UT with the highest/lowest population density. Print out your results.

In [ ]:
#Your code here

In this way, you can go through multiple datasets and find interesting statistics using Pandas. Try to do this on a dataset of your choice.