In [ ]:
#Library imports
import pandas as pd
import numpy as np

## Exercise 1: Know your company Part 2
We will continue working with the dataset you have created in Part 1. <br>
First lets create the dataset again.

In [ ]:
#Create the dataset in the same way as above
#Your code here
ceo_dict = {'Alphabet':'Sundar Pichai','Amazon':'Jeff Bezos','Adobe':'Shantanu Narayen','Alibaba':'Daniel Zhang',
            'Flipkart':'Kalyan Krishnamurthy','IBM':'Arvind Krishna','Meta':'Mark Zuckerberg','Microsoft':'Satya Nadella',
            'Oyo':'Ritesh Agarwal','Paytm':'Vijay Shekhar Sharma','TCS':'Rajesh Gopinath','Tesla':'Elon Musk','Twitter':'Parag Agrawal'}
ceo_df = pd.Series(ceo_dict)
country_dict = {'Alphabet':'US','Amazon':'US','Adobe':'US','Alibaba':'China',
                'Flipkart':'India','IBM':'US','Meta':'US','Microsoft':'US',
                'Oyo':'India','Paytm':'India','TCS':'India','Tesla':'US','Twitter':'US'}
country_df = pd.Series(country_dict)
company_df = pd.DataFrame({'CEO':ceo_df, 'Country':country_df})
company_df

                            CEO Country
Alphabet          Sundar Pichai      US
Amazon               Jeff Bezos      US
Adobe          Shantanu Narayen      US
Alibaba            Daniel Zhang   China
Flipkart   Kalyan Krishnamurthy   India
IBM              Arvind Krishna      US
Meta            Mark Zuckerberg      US
Microsoft         Satya Nadella      US
Oyo              Ritesh Agarwal   India
Paytm      Vijay Shekhar Sharma   India
TCS             Rajesh Gopinath   India
Tesla                 Elon Musk      US
Twitter           Parag Agrawal      US

Now try to access the 'Flipkart' row as shown in the lecture.

In [ ]:
#Your code here
company_df.loc['Flipkart']

CEO        Kalyan Krishnamurthy
Country                   India
Name: Flipkart, dtype: object

Next, try to access the 10th integral index in the DataFrame and also try to access all integral index greater than 10

In [ ]:
#You need to access the 10th integral index from the DataFrame as well as
#all the integral index greater than 10
#Your code here
print(company_df.iloc[10])
print(company_df.iloc[10:])

CEO        Rajesh Gopinath
Country              India
Name: TCS, dtype: object
                     CEO Country
TCS      Rajesh Gopinath   India
Tesla          Elon Musk      US
Twitter    Parag Agrawal      US

Now, print out all the values stored in the DataFrame with the values attribute and then access the 10th index in the list of values.

In [ ]:
#Print out the values in the DataFrame with the values attribute
#Your code here
print(company_df.values)

[['Sundar Pichai' 'US']
 ['Jeff Bezos' 'US']
 ['Shantanu Narayen' 'US']
 ['Daniel Zhang' 'China']
 ['Kalyan Krishnamurthy' 'India']
 ['Arvind Krishna' 'US']
 ['Mark Zuckerberg' 'US']
 ['Satya Nadella' 'US']
 ['Ritesh Agarwal' 'India']
 ['Vijay Shekhar Sharma' 'India']
 ['Rajesh Gopinath' 'India']
 ['Elon Musk' 'US']
 ['Parag Agrawal' 'US']]

In [ ]:
#Access the 10th value 
#Your code here
print('The tenth index is:', company_df.values[10])

The tenth index is: ['Rajesh Gopinath' 'India']

Lets now try to use a mask to select a sub-dataframe which only has the companies which are located in India. ( Hint: Try to use a comparison operator in the Country column)

In [ ]:
#Create a mask to make a sub-dataframe with all the companies located in country India
#Your code here
print(company_df[company_df['Country']=='India'])

                           CEO Country
Flipkart  Kalyan Krishnamurthy   India
Oyo             Ritesh Agarwal   India
Paytm     Vijay Shekhar Sharma   India
TCS            Rajesh Gopinath   India

Next, let us try to select the companies in India based on index by creating multi-index.<br>
First, reset index to have the company as a column.

In [ ]:
#Your code here
company_df = company_df.reset_index()

Next, rename the new index column to 'Company'. Use the `rename` attribute and pass the 'column' argument as a dictionary from the old name to new name.

In [ ]:
#Your code here
company_df = company_df.rename(columns = {'index':'Company'})

In [ ]:
company_df

      Company                   CEO Country
0    Alphabet         Sundar Pichai      US
1      Amazon            Jeff Bezos      US
2       Adobe      Shantanu Narayen      US
3     Alibaba          Daniel Zhang   China
4    Flipkart  Kalyan Krishnamurthy   India
5         IBM        Arvind Krishna      US
6        Meta       Mark Zuckerberg      US
7   Microsoft         Satya Nadella      US
8         Oyo        Ritesh Agarwal   India
9       Paytm  Vijay Shekhar Sharma   India
10        TCS       Rajesh Gopinath   India
11      Tesla             Elon Musk      US
12    Twitter         Parag Agrawal      US

Now, use the `set_index` attribute to make the `Country` and `Company` columns as index.

In [ ]:
#Your code here
company_df = company_df.set_index(['Country', 'Company'])

In [ ]:
company_df

                                    CEO
Country Company
US      Alphabet          Sundar Pichai
        Amazon               Jeff Bezos
        Adobe          Shantanu Narayen
China   Alibaba            Daniel Zhang
India   Flipkart   Kalyan Krishnamurthy
US      IBM              Arvind Krishna
        Meta            Mark Zuckerberg
        Microsoft         Satya Nadella
India   Oyo              Ritesh Agarwal
        Paytm      Vijay Shekhar Sharma
        TCS             Rajesh Gopinath
US      Tesla                 Elon Musk
        Twitter           Parag Agrawal

In this new DataFrame, use the `loc` keyword to choose all companies based in India.

In [ ]:
#Your code here
print(company_df.loc['India'])

                           CEO
Company
Flipkart  Kalyan Krishnamurthy
Oyo             Ritesh Agarwal
Paytm     Vijay Shekhar Sharma
TCS            Rajesh Gopinath

Finally, lets try a little advanced indexing. Try to access the row 'Tesla' and print out the result. (PS. You may know him very well!! )

In [ ]:
#Your code here
print(company_df.loc['US','Tesla'])

CEO    Elon Musk
Name: (US, Tesla), dtype: object