## Exercise 1: Know your Company Part 1
Since you guys are interested in a DataScience career, pretty soon you will be looking at companies and applying for jobs. So with that in mind lets make a small dataframe regarding some of the biggest companies in the world. <br>

To start, we need to import the `pandas` library first. Do it in the same way as shown in the lecture.

In [ ]:
#Your code here
import pandas as pd

First make a Pandas Series from the dictionary of companies and the respective Chief Executive Officers (CEO)<br>
Display the series

In [ ]:
ceo_dict = {'Alphabet':'Sundar Pichai','Amazon':'Jeff Bezos','Adobe':'Shantanu Narayen','Alibaba':'Daniel Zhang',
            'Flipkart':'Kalyan Krishnamurthy','IBM':'Arvind Krishna','Meta':'Mark Zuckerberg','Microsoft':'Satya Nadella',
            'Oyo':'Ritesh Agarwal','Paytm':'Vijay Shekhar Sharma','TCS':'Rajesh Gopinath','Tesla':'Elon Musk','Twitter':'Parag Agrawal'}
#Create a Pandas Series from the above dictionary and assign it to a variable
#Display the Series
#Your code here
ceo_df = pd.Series(ceo_dict)
ceo_df

Alphabet            Sundar Pichai
Amazon                 Jeff Bezos
Adobe            Shantanu Narayen
Alibaba              Daniel Zhang
Flipkart     Kalyan Krishnamurthy
IBM                Arvind Krishna
Meta              Mark Zuckerberg
Microsoft           Satya Nadella
Oyo                Ritesh Agarwal
Paytm        Vijay Shekhar Sharma
TCS               Rajesh Gopinath
Tesla                   Elon Musk
Twitter             Parag Agrawal
dtype: object

Find the CEO of Flipkart from the above Series and print the result.

In [ ]:
#Access the CEO of Flipkart from the Series and print the result
#Your code here
print('The CEO of Flipkart is:',ceo_df['Flipkart'])

The CEO of Flipkart is: Kalyan Krishnamurthy

Print out all the CEO of companies starting from Flipkart and ending with Paytm.

In [ ]:
#Display all the CEO of companies starting from Flipkart to Paytm (Hint: Remember the slicing selection shown in the lecture)
#Your code here
ceo_df['Flipkart':'Paytm']

Flipkart     Kalyan Krishnamurthy
IBM                Arvind Krishna
Meta              Mark Zuckerberg
Microsoft           Satya Nadella
Oyo                Ritesh Agarwal
Paytm        Vijay Shekhar Sharma
dtype: object

Next, make a Pandas Series from the dictionary of companies and the country it is based in.<br>
Display the Series.

In [ ]:
country_dict = {'Alphabet':'US','Amazon':'US','Adobe':'US','Alibaba':'China',
                'Flipkart':'India','IBM':'US','Meta':'US','Microsoft':'US',
                'Oyo':'India','Paytm':'India','TCS':'India','Tesla':'US','Twitter':'US'}
#Make the Series from the above dictionary
#Your code here
country_df = pd.Series(country_dict)
country_df

Alphabet        US
Amazon          US
Adobe           US
Alibaba      China
Flipkart     India
IBM             US
Meta            US
Microsoft       US
Oyo          India
Paytm        India
TCS          India
Tesla           US
Twitter         US
dtype: object

Now, create a DataFrame from the two Series you have created.<br>
Display the DataFrame.

In [ ]:
#Create and display a DataFrame based on the 2 Series that you have made above
#Your code here
company_df = pd.DataFrame({'CEO':ceo_df, 'Country':country_df})
company_df

                            CEO Country
Alphabet          Sundar Pichai      US
Amazon               Jeff Bezos      US
Adobe          Shantanu Narayen      US
Alibaba            Daniel Zhang   China
Flipkart   Kalyan Krishnamurthy   India
IBM              Arvind Krishna      US
Meta            Mark Zuckerberg      US
Microsoft         Satya Nadella      US
Oyo              Ritesh Agarwal   India
Paytm      Vijay Shekhar Sharma   India
TCS             Rajesh Gopinath   India
Tesla                 Elon Musk      US
Twitter           Parag Agrawal      US

Print out the index of the above DataFrame

In [ ]:
#Your code here
company_df.index

Index(['Alphabet', 'Amazon', 'Adobe', 'Alibaba', 'Flipkart', 'IBM', 'Meta',
       'Microsoft', 'Oyo', 'Paytm', 'TCS', 'Tesla', 'Twitter'],
      dtype='object')

Print out the columns in the DataFrame

In [ ]:
#Your code here
company_df.columns

Index(['CEO', 'Country'], dtype='object')

Access the CEO column in the DataFrame

In [ ]:
#Your code here
company_df['CEO']

Alphabet            Sundar Pichai
Amazon                 Jeff Bezos
Adobe            Shantanu Narayen
Alibaba              Daniel Zhang
Flipkart     Kalyan Krishnamurthy
IBM                Arvind Krishna
Meta              Mark Zuckerberg
Microsoft           Satya Nadella
Oyo                Ritesh Agarwal
Paytm        Vijay Shekhar Sharma
TCS               Rajesh Gopinath
Tesla                   Elon Musk
Twitter             Parag Agrawal
Name: CEO, dtype: object

Try to access the Flipkart row in the dataframe like you accessed in the Series.

In [ ]:
#Try to access the 'Flipkart' row in the dataframe in a similar way to how it was done in Series
#Your code here
company_df['Flipkart']

KeyError: ignored

You must have got an error if you had directly tried to access the row using index 'Flipkart'. For accessing rows in DataFrames, we need special attributes which we are going to take a look at next.